<hibernate-configuration>
   <session-factory>
       <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
       <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
       <property name="hibernate.connection.username">system</property>
       <property name="hibernate.connection.password">sasi</property>
       <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
       <property name="hibernate.show_sql">true</property>
       
       <mapping class="info.inetsolv.Employee"/>
   
   </session-factory>
   </hibernate-configuration>>